<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eating Table</title>
    <meta name="description" content="Drink, Food &  Enjoy With Your Family.Food tasted better when you eat it your family and friends.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#d84315" />
    <link rel="apple-touch-icon" href="./logo/icon.png">
    <link rel="icon" href="../logo/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <a href="#main-content" class="skip-link">Skip to content</a>
    <header class="app-bar"> 
        <div class="app-bar__menu">
          <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
          <img src="../logo/logo.png" width="100px" alt="logo">
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#/Favorite">Favorite</a></li>
                <li><a href="https://www.linkedin.com/in/rizky-prayatman-154656165/" target="_blank" rel="noreferrer">About Us</a></li>
            </ul>
          </nav>
    </header>
    
    <main>
      <section id="mainContent"></section>
    </main>

    <footer>
      <div class="overlay">
        <div class="booking">
          <h1>Book A Table</h1>
          <h2>Reasons for Choosing US</h2>
          <p>Keep healthy food readily available.</p><p>When you get hungry, you're more likely to..</p>
          <button>Check Availibility</button>
        </div>
      </div>
      <div class="copyright">
        <h1>
          Copyright © 2021 - Eating Table
        </h1>
      </div>
    </footer>
</body>
</html>
